@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');



html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rosario', 'Inter', 'Quicksand', 'sans-serif';
}

body {
    min-height: 100vh;
    background-color: #f2f2f2 ;
}


/* Header */

.header__logo path {
  fill: #00b289;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem 3rem 2rem 3rem;
}

@media screen and (min-width: 910px) {
  .header {
    justify-content: space-between;
  }
}

.header___middle-container {
  display: none;
}

@media screen and (min-width: 910px) {
  .header___middle-container {
    display: flex;
  }
}


.header__nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__nav a {
  text-decoration: none;
  font-weight: 500;
}

.header__nav i,
.header__nav a {
  color: #4c4d5f;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__button {
  padding: 10px 28px;
  border: 1px solid #00b289;
  font-weight: 900;
  border-radius: 4px;
  font-size: 0.9rem;
}

.header__button:first-of-type {
  color: #00b289;
}

.header__button:last-of-type {
  color: #fff;
  background-color: #00b289;
}


/* Pricing */


  /* Top Headings  */

.pricing__top-headings {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.top__headings-left-text {
  font-size: 1.875rem;
  font-weight: 600;
}

.top__headings-right {
  position: relative;
}

.top__headings-arrow {
  position: absolute;
  top: 20px;
  right: -30px;
}

.right__bottom-container {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
}

.right__bottom-container > span {
  font-weight: 700;
  letter-spacing: 1px;
  color: #4c4d5f;
}

.right__bottom-container > span:last-of-type {
  opacity: 0.5;
}

.right__top-text {
  text-align: end;
  margin: 1.1rem 0;
  font-size: 0.9rem;
  color: #00b289;
}

.right__toggle-switch-container {
  position: relative;
  display: inline-flex;
  width: 65px;
  height: 32.5px;
  align-items: center;
  background-color: #00b289;
  border-radius: 50px;
}

.right__bottom-container input {
  display: none;
}

.right__toggle-switch {
  position: absolute;
  top: 2.2px;
  display: inline-block;
  width: 42.5%;
  height: 85%;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 3px;
  transition: transform 0.2s ease-in-out;
}

.toggle__checkbox:checked + span {
  opacity: 0.5;
}

.toggle__checkbox:checked + span + span + span {
  opacity: 1;
}

.toggle__checkbox:checked + span + span .right__toggle-switch {
  transform: translateX(31px);
}

