@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Funnel+Display:wght@300..800&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --red-hat: "Red Hat Display", "Inter", 'sans-serif';
  --inter: "Inter", "Quicksand", "sans-serif";
  --asul: "Asul", "Rosario", "Inter", "Quicksand", "sans-serif";
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rosario', 'Inter', 'Quicksand', 'sans-serif';
}

body {
    min-height: 100vh;
    background-color: #f2f2f2 ;
    position: relative;
}


/* Header */

.header__logo path {
  fill: #00b289;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem 3rem 2rem 3rem;
}

@media screen and (min-width: 930px) {
  .header {
    justify-content: space-between;
  }
}

.header___middle-container {
  display: none;
}

@media screen and (min-width: 930px) {
  .header___middle-container {
    display: flex;
  }
}


.header__nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__nav a {
  text-decoration: none;
  font-weight: 500;
}

.header__nav i,
.header__nav a {
  color: #4c4d5f;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__button {
  padding: 10px 28px;
  border: 1px solid #00b289;
  font-weight: 900;
  border-radius: 4px;
  font-size: 0.9rem;
}

.header__button:first-of-type {
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  color: #00b289;
}

.header__button:first-of-type:hover {
  cursor: pointer;
  background-color: #00b289;
  color: #fff;
}

.header__button:last-of-type {
  color: #fff;
  background-color: #00b289;
  transition: opacity 0.2s ease-in-out;
}

.header__button:last-of-type:hover {
  cursor: pointer;
  opacity: 0.5;
}


/* Pricing */


  /* Top Headings  */

  .pricing__top-headings {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 85%;
    margin: 5rem auto 2rem auto;
  }

  @media screen and (max-width: 541px) {
    .pricing__top-headings {
      margin: 1rem auto 2rem auto;
    }
  }
  

  .top__headings-left-text {
    position: relative;
    font-size: 1.875rem;
    font-weight: 400;
    color: #4c4d5f;
    top: 1.1rem;
  }

  @media screen and (max-width: 541px) {
    .top__headings-left-text {
      top: 0;
    }
  }
  

  .top__headings-right {
    position: relative;
  }

  .top__headings-arrow {
    position: absolute;
    top: 20px;
    right: -30px;
  }

  .right__bottom-container {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
  }

  .right__bottom-container > span {
    font-weight: 700;
    letter-spacing: 1px;
    color: #4c4d5f;
  }

  .right__bottom-container > span:last-of-type {
    opacity: 0.5;
  }

  .right__top-text {
    text-align: end;
    margin: 1.1rem 0;
    font-size: 0.9rem;
    color: #00b289;
  }

  .right__toggle-switch-container {
    position: relative;
    display: inline-flex;
    width: 65px;
    height: 32.5px;
    align-items: center;
    background-color: #00b289;
    border-radius: 50px;
  }

  .right__bottom-container input {
    display: none;
  }

  .right__toggle-switch {
    position: absolute;
    top: 2.2px;
    display: inline-block;
    width: 42.5%;
    height: 85%;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 3px;
    transition: transform 0.2s ease-in-out;
  }

  .toggle__checkbox:checked + span {
    opacity: 0.5;
  }

  .toggle__checkbox:checked + span + span + span {
    opacity: 1;
  }

  .toggle__checkbox:checked + span + span .right__toggle-switch {
    transform: translateX(31px);
  }


  /*  Pricing Plans */

  .pricing__plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem;
  }
  
  .pricing__plan {
    position: relative;
    border: 1px solid #ccc;
    height: 606px;
    padding: 2rem 3rem;
    max-width: 500px;
    width: 400px;
    background-color: #fff;
    color: #4c4d5f;
    border-radius: 4px;
  }

  @media screen and (max-width: 500px) {
    .pricing__plan {
      padding: 2rem 1rem;
    }
  }

  @media screen and (max-width: 380px) {
    .pricing__plan {
      padding: 2rem 0.25rem;
    }
  }


  /* Ribbon generated with CSS Generators: https://css-generators.com/ribbon-shapes/ */

  .pricing__plan-ribbon {
    --f: .5em;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 800;
    font-size: 1.25rem;
    background-color: #00b289;
    color: #fff;
    padding: 1.25rem 4rem;
    line-height: 1.8;
    padding-inline: 1h;
    font-family: var(--red-hat);
    padding-top: var(--f);
    border-image: conic-gradient(#0008 0 0) 51%/var(--f);
    clip-path: polygon(
      100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
    transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    background-color: #00b289; /* the main color  */
  }



  
  .pricing__plan-heading {
    font-size: 1.6rem;
    margin: 2rem;
    
  }
  
  .pricing__plan-monthly {
    margin: 2rem 2rem 0rem 2rem;
    font-size: 3.5rem;
    font-family: var(--red-hat);
    letter-spacing: 2px;
    font-weight: 800;
  }

  .pricing__plan-monthly sup {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 10px;
  }

  .pricing__plan-monthly span {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    
  }

  .line__separator {
    width: 82.5%;
    height: 2px;
    background-color: #00b289;
    margin: 1.5rem auto;
  }

  .plan__perks-list {
    position: relative;
    list-style: none;
    line-height: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 2.1rem;
    margin-top: 1.75rem;
  }

  .plan__perk {
    display: block;
  }

  .plan__perk i {
    color: #00b289;
    transform: scale(0.9);
  }

  .plan__perk-text {
    margin: 0 0.25rem 0 0.5rem;
  }

  .plan__perk-tag {
    display: inline;
    background-color: #f8db62;
    color: #fff;
    padding: 2px 5px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  

  .pricing__plan-button {
    display: block;
    margin: 2.25rem auto;
    padding: 1.3rem 8rem;
    border-radius: 4px;
    background-color: #00b289;
    font-weight: 700;
    color: #fff;
    border: transparent;
    transition: opacity 0.2s ease-in-out;
  }

  .pricing__plan-button:hover {
    opacity: 0.5;
    cursor: pointer;
  }


/* Add-ons */


.addOns {
  width: 100%;
  display: block;
  padding-top: 2rem;
}


@media screen and (max-width: 1025px) {
  .addOns {
    width: 85%;
    margin: 0 auto;
  }
}

.addOns__title {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 500;
  color: #4c4d5f;
  font-family: var(--asul);
}

.addOns__container {
  display: grid;
  max-width: 1025px;
  grid-template-columns: 1fr;
  
  margin: 0 auto;
  row-gap: 1rem;
}

.addOn__container {
  background-color: #fff;
  border: transparent;
  border-radius: 4px;
  color: #4c4d5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.5rem;
  font-family: var(--inter);
}

@media screen and (max-width: 370px) {
  .addOn__container {
    flex-wrap: wrap;
  }
}


.addOn__container:last-of-type {
  padding: 1.5rem 2.5rem 3rem 2.5rem
}

.addOn__container-left-text {
  padding-right: 8rem;
}

@media screen and (max-width: 500px) {
  .addOn__container-left-text {
    padding-right: 2rem;
  }
}


.addOn__container-left-text h3 {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0;
  margin-bottom: 0;
}

.addOn__container-left-text p {
  font-size: 0.9rem;
  margin-top: 0.6rem;
}

.addOn__container-left-text a {
  text-decoration: none;
  color: #00b289;
  font-weight: 600;
  font-size: 0.9rem;
}

.addOn__container-left-text i {
  color: #00b289;
  transform: scale(0.75);
}

.addOn__container-left-text a:hover {
  text-decoration: underline;
}

.addOn__container-left-text a:active {
  opacity: 0.5;
}

.addOn__container-right-text {
  margin: 0;
  text-align: center;
}

.addOn__container-right-text > h3 {
  font-size: 2rem;
  font-weight: 600;
}

.right-text-free {
  margin: 0;
}

.right__text-price {
  margin: 0;
}

.addOn__container-right-text .right__text-price {
  font-size: 2.5rem;
}

.addOn__container-right-text p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 0.8rem;
}


/* Call to Action */

.call-to-action {
  width: 100%;
  padding: 6rem 0 3rem 0;
}

.CTA__container {
  max-width: 1025px;
  width: 85%;
  display: flex;
  margin: 0 auto;
  background-color: #e9f3fa;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .CTA__container {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .CTA__container > .CTA__container-text {
    padding: 0 3rem;
  }

  .CTA__container > .CTA__button {
    margin: 0 4rem;
  }
}

.CTA__container-text {
  padding-left: 4rem;
  color: #4c4d5f;
}

.CTA__container-text h2{
  font-size: 2.25rem;
  margin: 0;
  font-weight: 400;
  font-family: var(--asul);
}

.CTA__container-text h2:first-of-type {
  
  margin-bottom: 0.5rem;
}

.CTA__container-text h2:last-of-type {
  
  margin-top: 0.5rem;
}

.CTA__container-text strong {
  color: #00b289;
  font-weight: 400;
}

.CTA__button {
  margin-right: 4rem;
  padding: 1.25rem 2.5rem;
  font-size: 0.8rem;
  border: transparent;
  background-color: #00b289;
  color: #fff;
  font-weight: 900;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out;
}

.CTA__button:hover {
  opacity: 0.5;
  cursor: pointer;
}


/* FAQ */


.FAQ {
  width: 100%;
  padding: 1rem 0 5rem 0;
  font-family: var(--red-hat);
  color: #4c4d5f;
}

.FAQ > h3 {
  text-align: center;
  color: #00b289;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 2rem;
}

.FAQ__questions {
  max-width: 825px;
  margin: 3rem auto;
  font-family: var(--inter);
}

.FAQ__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.FAQ__question p {
  font-size: 1.25rem;
  padding: 0 5rem;
}

@media screen and (max-width: 500px) {
  .FAQ__question p {
    padding: 0 2.5rem;
  }
}

.FAQ__question i {
  color: #4c4d5f;
  opacity: 0.25;
  padding: 0 5rem;
  transform: scale(1.4);
}

@media screen and (max-width: 500px) {
  .FAQ__question i {
    padding: 0 2.5rem;
  }
}